h1.section-header {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-100);
  margin-bottom: 1.5rem;
  z-index: 1;
}

section {
  transition: all 2s;
  position: relative;
}

.hidden-section {
  opacity: 0;
  /* transform: translateX(-100%); */
  filter: blur(2px);
  transition: all 2s;
}
.hidden-part {
  transition: all 2s;
}
.hidden-section .hidden-part {
  opacity: 0;
  filter: blur(3px);
  transform: translateX(-100%);
}
@media (prefers-reduced-motion: reduce) {
  .hidden-section {
    transition: none;
  }
}
